<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Cadastrar Classificados</title>
</head>
<body>

	<h2>CADASTRAR OFERTAS</h2>

	
	<form th:action="@{/ofertas/nova/{id}(id=${classificado.id})}" method="post" th:object="${oferta}">
		<input type="hidden" th:field="*{id}"/>
		Valor da Oferta: <input type="text" id="valorOferta" th:field="*{valorOferta}" /> <br />
		<input type="submit" value="SALVAR"/> 
	</form>
	
	
	
</body>
</html>