<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
	<title>Cadastrar Jornalista</title>
</head>
<body>
	<h2>Jornalista</h2>
	<form th:action="@{/editor/cadastrarJornalista}" method="post" th:object="${usuario}">
		<input type="hidden" th:field="*{id}"/>
		Nome Completo: <input type="text" id="nomeCompleto" th:field="*{nomeCompleto}"/> <br />
		Login: <input type="text" id="login" th:field="*{login}"/> <br />
		Senha: <input type="text" id="senha" th:field="*{senha}" /> <br />
		Email: <input type="text" id="email" th:field="*{email}"/> <br />
		<input type="submit" value="SALVAR"/> 
	</form>
	
</body>
</html>