<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Inserir Papel</title>
</head>
<body>
	<h2>Página admminitração editor</h2>

	<a th:href="@{/classificados/listar}">Listar Classificado</a>
	<a th:href="@{/noticias/remover}">Remover noticias</a>
	<a th:href="@{/secoes/listar}">Ver todas as seçoes</a>
	<a th:href="@{/noticias/listar}">Ver todas as noticias</a>
	<a th:href="@{/classificados/listar}">Ver classificados</a>

	<a th:href="@{/login/logout}">Sair do sistema</a>
</body>
</html>